{% extends "web/base.html" %}
{% block content %}

<div class="content-box max-9">
    <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><input type="checkbox"></th>
                <td><strong>Pilar G</strong></td>
                <td><strong>RE: Problemas restaurante</strong></td>
              <td><strong>23/12/2020</strong></td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></th>
                <td>Admin</td>
                <td>Aviso importante</td>
              <td>02/12/2020</td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></th>
                <td>Admin</td>
                <td>Mantenimiento de servidores</td>
              <td>29/11/2020</td>
            </tr>
              <tr>
                  <th scope="row"><input type="checkbox"></th>
                    <td>Josh</td>
                    <td>Sin titulo</td>
                  <td>22/11/2020</td>
                </tr>
              </tbody>
        </table>
    <br><br>
        <div class="float-sm-right">
            <button type="button" class="btn btn-danger ml-4 mr-4" >Borrar marcados</button>
        </div>

    <span>
        <br>
        <br>
    </span>
</div>

{% endblock content %}