{% extends "web/base.html" %}
{% block content %}


<div class="content-box max-7">
    <h4 class="border-bottom">Monedero</h4>
    <div class="mt-4 mb-4">
        <h5>Cuentas Bancarias:</h5>
        <p class="rojo ml-4">No se han encontrado cuentas bancarias asociadas</p>
        <span class="m-4"></span>
        <h5>Tarjetas:</h5>

        <p class="azul ml-4"><input type="checkbox" class="mr-3">MasterCard **** **** **** 1234 <span class="ml-4"><span class="ml-4"></span></span><button type="button" class="btn btn-primary ml-4" >Editar</button></p>
        <p class="azul ml-4"><input type="checkbox" class="mr-3">VISA **** **** **** 5678 <span class="offset-1"></span><button type="button" class="btn btn-primary" >Editar</button></p>

        <span class="m-4"></span>
        <h5>PayPal:</h5>

        <p class="azul ml-4"><input type="checkbox" class="mr-3">maciej.gyurkowich@gmail.com <span class="ml-4"><span class="ml-4"></span></span><button type="button" class="btn btn-primary ml-4" >Editar</button></p>
    </div>

    <br><br>
        <div class="float-sm-right">
            <button type="button" class="btn btn-danger ml-4 mr-4" >Eliminar método de pago</button>
            <button type="button" class="btn btn-primary ml-4 mr-4" >Agregar nuevo</button>
        </div>

    <span>
        <br>
        <br>
    </span>
</div>

{% endblock content %}